.main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.sum{
    margin-top: 20px;
}

.container{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color: yellow;
    border: none;
    border-radius: 30px;
}

.link{
    text-decoration: none;
    color:black;
}

.button:active{
    background-color: #e5e619;
}